 .navbar {
      background-color: #0077b6;
      
    }
    nav{
        padding: 20px;
    }

    .navbar-brand {
      color: #fff !important;
      font-size: 1.8rem;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .nav-link {
      color: #fff !important;
      font-weight: 500;
      margin-right: 10px;
    }

    .nav-link:hover {
      color: #ffdd00 !important; 
    }

    body {
      background-color: #0e457c;
      font-family: "Poppins", sans-serif;
    
    }
    .brand-text{
        color: #fff;
    }
    